<div>
  <%=flash.notice%>
</div>

<h1>List of users</h1>

<table border = "1">
  <tr>
    <th>Username</th>
    <th>Private?</th>
    <th></th>
    <th></th>
  
  <%User.order(:username).all.each do |each_user|%>    
    <tr>
      <td><%=each_user.username%></td>
      
      <%if each_user.private == true%>
        <td>Yes</td>
      <%elsif each_user.private == false%>
        <td>No</td>
      <%end%>
    
      <% if current_user.present? %>
        <% leader = current_user.follow_sent.where(:status => "accepted", :recipient_id => each_user.id).first %>
        <% pending_leader = current_user.follow_sent.where(:status => "pending", :recipient_id => each_user.id).first %>

        <% if leader.present?%>
          <td><a href="/delete_follow_request/<%=leader.id%>">Unfollow</a></td>
        
        <% elsif leader.nil? && pending_leader.present? %>
          <td>Request sent. <a href="/delete_follow_request/<%=pending_leader.id%>">Cancel</a></td>   

        <% elsif leader.nil? && pending_leader.nil? %>
          <td><form action="/insert_follow_request" method = "post">
            <input type="hidden" name = "query_recipient_id" id = "query_recipient_field" value = <%=each_user.id%>>
            <input type="hidden" name = "query_sender_id" id = "query_sender_field" value = <%=current_user.id%>>

            <% if each_user.private? %>
              <input type="hidden" name = "query_status" id = "query_status_field" value = "pending">

              <% else %>
              <input type="hidden" name = "query_status" id = "query_status_field" value = "accepted">

            <% end %>
              <button>Follow</button>
            </form>
          </td>
        <% end %>
      
      <% else %>
        <td></td>
      <% end %>
    
        <td><a href="/users/<%=each_user.username%>">Show details</a></td>

    </tr>
  <%end%>

</table>

liked_photos
<div>
  <h1><%=@this_user.username%></h1>
</div>

<div>
  <dl>
    <dt>Private</dt>
      <dd><%=@this_user.private%></dd>
    <dt>Followers</dt>
      <dd><%=@this_user.follow_received.where(:status => "accepted").count%></dd>
    <dt>Following</dt>
      <dd><%=@this_user.follow_sent.where(:status => "accepted").count%></dd>
  </dl>

</div>

<nav>
  <ul>
    <li><a href="/users/<%=@this_user.username%>">Profile</a></li>
    <li><a href="/users/<%=@this_user.username%>/liked_photos">Liked photos</a></li>
    <li><a href="/users/<%=@this_user.username%>/feed">Feed</a></li>
    <li><a href="/users/<%=@this_user.username%>/discover">Discover</a></li>
  </ul>
</nav>

<div>
  <%likes_sent = Like.where(:fan_id => @this_user.id)%>
  <h1>Liked photos (<%=likes_sent.count%>)</h1>

  <table border = "1">
    <tr>
      <th>Image</th>
      <th>Owner</th>
      <th>Caption</th>
      <th>Posted</th>
      <th>Likes</th>
      <th></th>
    </tr>
    
    <%likes_sent.each do |each_like|%>
    <%liked_photo_record = Photo.where(:id => each_like.photo_id).first%>

    <tr>
      <td><img src="<%=liked_photo_record.image%>"></td>
      <td><%=User.where(:id => liked_photo_record.owner_id).first.username%></td>
      <td><%=liked_photo_record.caption%></td>
      <td><%=time_ago_in_words(liked_photo_record.created_at)%> ago</td>
      <td><%=liked_photo_record.likes_count%></td>
      <td><a href="/photos/<%=liked_photo_record.id%>">Show details</a></td>
  
    </tr>
  <% end %>
  </table>
</div>
