<div>
  <%=flash.notice%>
</div>

<div>
  <div>
    <h1>
      List of all photos
    </h1>
  </div>
</div>



<hr>

<% if current_user.present? %>
  <div>
    <form action="/insert_photo" method = "post" class="form-horizontal" enctype = "multipart/form-data">
      <label for="image">Image</label>
      <input type="file" name = "query_image" id="image" value = "No file chosen" class= "form-control">
      
      
      <label for="caption_input">Caption</label>
      <textarea name="query_caption" id="caption_input"  rows="2"></textarea>
      
      
      <input type="hidden" name = "query_comments_count" id = "comment_count_field" value = 0>
      <input type="hidden" name = "query_likes_count" id = "likes_count_field" value = 0>
      <input type="hidden" name = "query_owner_id" id = "owner_id_field" value = "<%=current_user.id%>">
      
      <button>Add photo</button>
    </form>
  </div>
  
<% end %>

<hr>

<div>
  <div>
    <table border="1">
      <tr>
        <th>Image</th>
        <th>Caption</th>
        <th>Owner</th>
        <th>Posted</th>
        <th>Likes</th>
        <th></th>
      </tr>

      <% @list_of_photos.each do |a_photo| %>
      <tr>
        <td><img src="<%=a_photo.image%>" class = "image_responsive"></td>

        <td>
          <%= a_photo.caption %>
        </td>

        <td>
          <%= User.where(:id => a_photo.owner_id).first.username %>
        </td>

        <td>
          <%= time_ago_in_words(Time.now - a_photo.created_at) %> ago
        </td>

        <td>
          <%= a_photo.likes_count%>
        </td>
 
        <td>
          <a href="/photos/<%= a_photo.id %>">
            Show details
          </a>

        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
